@model List<Notify>

<li class="nav-item dropdown">
    <a class="nav-link text-dark dropdown-toggle" href="#" id="notificationDropdown" role="button"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-bell"></i>
        @if (Model.Any())
        {
            <span class="badge badge-danger">@*@Model.Count()*@</span>
        }
    </a>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="notificationDropdown">
        <h6 class="dropdown-header">Thông báo</h6>
        @if (Model.Any())
        {
            @foreach (var notify in Model)
            {
                <a class="dropdown-item" href="#">
                    <i class="fa fa-info-circle text-warning"></i> Bài đăng @notify.postId:  @notify.content
                </a>
            }
        }
        else
        {
            <a class="dropdown-item text-muted" href="#">Không có thông báo</a>
        }
    </div>
</li>